.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.details {
    display: flex;
    padding: 30px;
}

.pizza-info {
    margin-right: 50px;
}

.add-order {
    margin-top: 20px;
}

.card {
    width: 400px;
}

a {
    text-decoration: none;
    color: black;
}
